* {
  cursor: url(2.png), default;
}

.navbar-nav a:hover {
  color: rgb(3, 73, 191);
}

nav img {
  width: 60px;
}

nav a.nav-link {
  color: white;
}


header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(back.jpeg);
  background-size: 100% 100%;
}


.second {
  background-color: #0e2c7d;
  height: 100%;
}

#carouselExampleFade {
  position: relative;
  top: -110px;
}

.jd img {
  width:  82px;
  height: 82px;
}

.one {
  background-color: black;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.two {
  background-color: #204abf;
}

.three {
  background-color: #204abf;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.three button {
  background-color: #0e2c7d;
  border: 2px solid white;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  color: white;
}


